html,
body {
  min-height: 100%;
  font-family: "Montserrat";
}

#__next {
  height: 100%;
}

code {
  font-family: 'Montserrat';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}


.css-7hspi-MuiBackdrop-root-MuiModal-backdrop {
  position: relative !important;
}


/* width */
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  padding: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6AB2DF;
  border-radius: 10px;

}
:-webkit-autofill {
  filter:none;
  box-shadow: 0 0 0 100px rgb(240,240, 240) inset !important;
}

.css-18ro57k-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
  filter:none;
  box-shadow: 0 0 0 100px rgb(120,120,120) inset !important;
}

.rtl-18ro57k-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill{
  box-shadow: 0 0 0 100px rgb(120,120,120) inset !important;
}



.button {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6em 2em;
  border: mediumspringgreen solid 0.15em;
  border-radius: 0.25em;
  color: mediumspringgreen;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
}

.button p {
  z-index: 1;
}

.button:hover {
  color: #212121;
}

.button:active {
  border-color: teal;
}
.cssbuttons-io-button {
  color: #BABABA !important ;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: 1px solid #a10c27a8 !important ;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {

  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  right: 0.3em;
  transition: all 0.3s;

}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: white;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}



.parent{
  background-color: #E9ECF3;
  color: #6AB2DF;
  border-left-style: solid;
  border-left-width: 5px;
  height: 60%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
  border-radius: 5px 5px 5px 5px;
  margin-top: 15px;
}


.parent div{
  margin-left: 36px;
}
.child{
  position: absolute;
  left: 0px;
  bottom: 10px;
  font-size: 30px;
  color: #3F4458;
}
.parent p{
  font-size: 10px;
  color: #3F4458;
}

.description{
  margin-left: 50px !important;
}
.parent2 div{
  margin-left: 36px;
}
.child2{
  position: absolute;
  left: 0px;
  bottom: 10px;
  font-size: 30px;
  color: #3F4458;
}
.parent2 p{
  font-size: 10px;
  color: #3F4458;
}

.description2{
  margin-left: 50px !important;
}

.css-1x2dz75-MuiPaper-root-MuiDialog-paper{
  overflow: visible !important;
}

.rpv-default-layout__toolbar{
  border: none !important;
border-radius: 12px;
}

.rpv-default-layout__container{
border: none !important;
border-radius: 12px;
}

.css-1p0wxo6-MuiModal-root-MuiDrawer-root .MuiDrawer-paper {

  border-radius: 12px 0px 0px 0px;
}


.css-as200-MuiFormControl-root-MuiTextField-root .MuiInputBase-input{
  color: #8090A7;
}


.node__root > circle {
  fill: red;
}

.node__branch > circle {
  fill: yellow;
}

.node__leaf > circle {
  fill: green;
  r: 40;
}



/* .css-1ppzk2g-MuiBackdrop-root-MuiModal-backdrop{
  position: relative !important;

  opacity: 1  !important;
} */

.css-1bdczpd-MuiFormControl-root-MuiTextField-root{
  padding-left: 0px !important;
}



.css-141nhls-MuiStack-root>:not(style)+:not(style) {
    margin: 0;
    margin-left: 3rem !important;
}

.css-1ppzk2g-MuiBackdrop-root-MuiModal-backdrop {
position: relative !important;
}

.button-tap {
  color: #8090A7 !important;
  background-color: transparent !important;
  position: relative !important;
}

.button-tap:hover{
  color: #6AB2DF !important;
}

.button-tap::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #6AB2DF;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.button-tap:hover::after {
  transform: scaleX(1);
  transform-origin: bottom bottom;
}



.button-tap.active {
  color: #6AB2DF !important;
  font-weight: 900;

}

.log {
  display: block;
}

.photo {
  display: block;

}


@media screen and (max-width: 1380px) {
  .photo,.animate__animated  {
     display: none !important;
  }

}

[dir="rtl"] .parent {
overflow: hidden !important;
position: relative;
height: 100px ;
width: 96%;
border-right-style: solid;
border-right-width: 5px;
border-left-style: none;
}


[dir="rtl"] .child {
position: absolute;
bottom: 20%;
right: 1%;

}

[dir="rtl"] .childp {
  margin-right: 36px;
}
[dir="rtl"] .child-cal {
  position: absolute;
  right: 1px;
  bottom: -8px;
  font-size: 30px;
  color: #3F4458;
}
[dir="rtl"] .content-cal {
  color: #3F4458;

  position: relative;
}

[dir="rtl"] .start {
margin-right: 40px;
}


[dir="ltr"] .content-cal {
  color: #3F4458;

  position: relative;
}
[dir="ltr"] .child-cal {
  position: absolute;
  left: -36px;
  bottom: -7px;
  font-size: 30px;
  color: #3F4458;
}




/* ************************************************************* */



.loading-rtl{
  text-align: center !important;
}





[dir="rtl"].log {
  display: block;
}

[dir="rtl"] .photo {
  position: relative !important;
  left: 100% ;

}
[dir="rtl"] #photo2 {
  position: relative !important;
  left: 1px ;
  top: 6%;

}


@media screen and (max-width: 1380px) {
  [dir="rtl"] .photo,.animate__animated  {
     display: none !important;
  }

}

[dir="rtl"] .manage-popup{
  width: 70%;
  background-color: red;

}

.rtl-1x2dz75-MuiPaper-root-MuiDialog-paper{
  overflow-y: visible;
  width: 83vh;
}


.css-1rt6uap-MuiDataGrid-root .MuiDataGrid-columnHeader:not(.MuiDataGrid-columnHeaderCheckbox):first-of-type ,.css-q360zr-MuiDataGrid-columnHeaders,.rtl-oc5vc5-MuiDataGrid-columnHeadersInner,.rtl-1rt6uap-MuiDataGrid-root .MuiDataGrid-columnHeader:not(.MuiDataGrid-columnHeaderCheckbox):first-of-type {
  background-color: #fff !important;

}

.css-sbn3f9-MuiDataGrid-columnHeaderTitle {
  color: var(--text-Primarycolor, #3F4458) !important;
font-size: 14px !important;
font-style: normal !important;
font-weight: 600 !important;
line-height: normal !important;
}


.custome-data-grid-font{
color: var(--text-Primarycolor, #3F4458) !important;
font-size: 14px !important;
font-style: normal !important;
font-weight: 500 !important;
line-height: normal !important;
}
.custome-data-grid-font2{
  color: #7B8794 !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}

.rtl-sbn3f9-MuiDataGrid-columnHeaderTitle {
  color: var(--text-Primarycolor, #3F4458);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Pagetitle{
  color: var(--blue-gray, #8090A7) !important;
  font-size: 24px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
  letter-spacing: 1.2px !important;
}
th {
  background-color: #f2f2f2;
} */

.css-2v4r7n-MuiButtonBase-root-MuiPickersDay-root {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #131627 !important;
  padding: 18px !important;
}

.css-2v4r7n-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
  background-color: #6AB2DF !important;
  color: #fff !important;
}

.css-2v4r7n-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover{
  background-color: #6AB2DF !important;
  color: #fff !important;
}


.css-145rq02-MuiTypography-root-MuiDayCalendar-weekDayLabel {
  font-size: 15px !important;
  font-weight: 600 !important;
  color: #3f4458 !important;
}

.css-1sdzv1m-MuiPickersCalendarHeader-labelContainer ,.rtl-1sdzv1m-MuiPickersCalendarHeader-labelContainer {
  font-weight: 700 !important;
  font-size: 27px !important;
  color: #3f4458 !important;
width: 100% !important;
}

.css-11iq8zx-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon {
  width: 24.85px !important;
  height: 32px !important;
  color: #3f4458 !important;
  position: relative;
  right: 13px;
  top: 12px;
  transform: rotate(315deg) !important;
}

.rtl-11iq8zx-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon{
  width: 24.85px !important;
  height: 32px !important;
  color: #3f4458 !important;
  position: relative;
  left: 18px;
  top: 12px;
  transform: rotate(-310deg) !important;
}

.rtl-9khrwr-MuiButtonBase-root-MuiIconButton-root-MuiPickersCalendarHeader-switchViewButton:hover{
  background-color: transparent !important;

}

.css-9khrwr-MuiButtonBase-root-MuiIconButton-root-MuiPickersCalendarHeader-switchViewButton:hover {
  background-color: transparent !important;
}

.css-5pixi0-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button {
  width: 32px !important;
  height: 32px !important;
  border-radius: 16px !important;
  color: #6AB2DF !important;
  margin-left: 3px !important;
  background-color: #bebebe40 !important  ;
}

.rtl-1vooibu-MuiSvgIcon-root{
  width: 32px !important;
  height: 32px !important;
  border-radius: 16px !important;
  color: #6AB2DF !important;
  background-color: #bebebe40 !important  ;
  margin-left: -2px;

}

.rtl-1vooibu-MuiSvgIcon-root:hover{
  background-color: transparent !important;
}

.rtl-bgd4cd-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button,.rtl-5pixi0-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button:hover{
  background-color: transparent !important  ;
}



.css-bgd4cd-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button {
  width: 32px !important;
  height: 32px !important;
  border-radius: 16px !important;
  color: #6AB2DF !important;
  background-color: #bebebe40 !important  ;
}

[dir="rtl"] .Attendance{
  position: absolute !important;
  right: 74% !important;
  margin-top: 35px !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  color: rgb(128, 144, 167) !important;
}

.rtl-145rq02-MuiTypography-root-MuiDayCalendar-weekDayLabel{
  font-size: 15px !important;
  font-weight: 600 !important;
  color: #3f4458 !important;
}


.rtl-2v4r7n-MuiButtonBase-root-MuiPickersDay-root{
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #131627 !important;
  padding: 18px !important;
}


.rtl-2v4r7n-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
  background-color: #6AB2DF !important;
  color: #fff !important;
}

.rtl-1llv0fg-MuiButtonBase-root-MuiIconButton-root-MuiPickersCalendarHeader-switchViewButton{
  background-color: transparent !important;
}


/* .rtl-1sdzv1m-MuiPickersCalendarHeader-labelContainer */

